<div>
  <app-com-one
    (change)="onChange1($event)"
    [count]="version"></app-com-one>
  <hr>
  <app-com-two
    (reset2)="onResetVersion()"
    [count2]="version"></app-com-two>
</div>

<router-outlet></router-outlet>

<h1>{{title}}</h1>

<div>
  time1 : {{time1 }}
</div>

<div>
  Version: {{version}}
</div>
<div>
  {{isProduction}}
</div>
<div>
  {{play.name}} / {{play.password}}
</div>
<div>
  {{play | json}}
</div>

<div>{{getSomething()}}</div>

<hr>

<button (click)="onClick()">Click</button>
